.questions {
  padding-top: 120px;
  padding-bottom: 200px;
}

.questions-list {
  margin: 0 auto;
  width: 820px;
}

.questions-item {
  position: relative;
}

.questions-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 35px 26px 25px;

  border-bottom: 1px solid $Color-secondary-400;
}

.new-container {
  display: none;
}

.questions-top > p {
  @extend %paragraph;

  font-weight: 500;
  color: $Color-primary-100;
}

.questions-btn {
  width: 11px;
  height: 11px;

  border: none;
  background-color: rgba(0, 0, 0, 0);

  cursor: pointer;
}

.close-btn {
  width: 11px;
  height: 11px;

  border: none;
  background-color: rgba(0, 0, 0, 0);

  cursor: pointer;
}

.questions-icon {
  width: 11px;
  height: 11px;
}

.detailed-questions {
  position: relative;
  z-index: 2;
  top: -1px;
  display: none;
  padding: 24px 39px;
  width: 820px;
  height: 268px;

  background-color: $Color-secondary-500;
  box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
}

.open {
  display: block;
}

.detailed-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.detailed-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.33;

  color: $Color-primary-300;
}

.detailed-questions > p {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;

  color: $Color-primary-100;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
