/* noto-sans-Light - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("NotoSans-Light.86fa47d4.ttf") format("truetype");
}
/* noto-sans-Regular - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("noto-sans-v25-latin-regular.0454d049.eot");
  /* IE9 Compat Modes */
  src: local(""), url("noto-sans-v25-latin-regular.0454d049.eot#iefix") format("embedded-opentype"), url("noto-sans-v25-latin-regular.4257c1dd.woff2") format("woff2"), url("noto-sans-v25-latin-regular.a6d95dc1.woff") format("woff"), url("noto-sans-v25-latin-regular.3a25e363.ttf") format("truetype"), url("noto-sans-v25-latin-regular.c332ebeb.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
/* noto-sans-Medium - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("NotoSans-Medium.d333f0b1.ttf") format("truetype");
}
/* noto-sans-SemiBold - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("NotoSans-SemiBold.78916e90.ttf") format("truetype");
}
/* noto-sans-Bold - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("noto-sans-v25-latin-700.9720a45a.eot");
  /* IE9 Compat Modes */
  src: local(""), url("noto-sans-v25-latin-700.9720a45a.eot#iefix") format("embedded-opentype"), url("noto-sans-v25-latin-700.a771f9aa.woff2") format("woff2"), url("noto-sans-v25-latin-700.62c68ece.woff") format("woff"), url("noto-sans-v25-latin-700.9633b6f4.ttf") format("truetype"), url("noto-sans-v25-latin-700.5efbdf63.svg#NotoSans") format("svg");
  /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("poppins-v19-latin-regular.2d77bac4.eot");
  /* IE9 Compat Modes */
  src: local(""), url("poppins-v19-latin-regular.2d77bac4.eot#iefix") format("embedded-opentype"), url("poppins-v19-latin-regular.f86e6bc8.woff2") format("woff2"), url("poppins-v19-latin-regular.acc956dd.woff") format("woff"), url("poppins-v19-latin-regular.719bd0f5.ttf") format("truetype"), url("poppins-v19-latin-regular.726d293c.svg#Poppins") format("svg");
  /* Legacy iOS */
}
/* poppins-Bold - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("poppins-v19-latin-700.05de4b79.eot");
  /* IE9 Compat Modes */
  src: local(""), url("poppins-v19-latin-700.05de4b79.eot#iefix") format("embedded-opentype"), url("poppins-v19-latin-700.c32b6f69.woff2") format("woff2"), url("poppins-v19-latin-700.a4d5acc7.woff") format("woff"), url("poppins-v19-latin-700.79192862.ttf") format("truetype"), url("poppins-v19-latin-700.17e6c446.svg#Poppins") format("svg");
  /* Legacy iOS */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  color: #000000;
  background-color: #f8f8f8;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
button {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0 100px;
  width: 1440px;
}
.overlay {
  width: 100%;
  height: 688px;
  background-image: url("hero.aa44cffa.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top {
  display: flex;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 18px;
}
.logo {
  margin-right: 711px;
}
.navigation {
  margin-right: 40px;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-item:not(:last-child) {
  margin-right: 40px;
}
.navigation-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.33;
  color: #f8f8f8;
}
.social-list {
  display: flex;
  align-items: center;
  height: 18px;
}
.social-item:not(:last-child) {
  margin-right: 27px;
}
.social-link {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  fill: #f8f8f8;
}
.hero {
  padding-top: 118px;
  padding-bottom: 148px;
}
.hero-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.36;
  color: #f8f8f8;
}
.hero-group {
  display: flex;
  margin-bottom: 72px;
}
.hero-text {
  margin-right: 20px;
  width: 295px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #f8f8f8;
}
.hero-btn {
  min-width: 296px;
  padding: 11px 90px 14px 91px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
  color: #f8f8f8;
  border: 2px solid #f8f8f8;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
  color: #000000;
  background-color: #f8f8f8;
}
main {
  padding-top: 100px;
}
.title-main {
  text-align: center;
  margin-bottom: 80px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #aeaeae;
}
.filter-section {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.select-list {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.select-item:not(:last-child) {
  margin-right: 20px;
}
.dropdown {
  padding: 14px 43px 13px 16px;
  width: 170px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  border: 1px solid #bdbdbd;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
}
.filter-btn {
  min-width: 290px;
  padding: 12px 119px 12px 120px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  white-space: nowrap;
  color: #f8f8f8;
  border: none;
  border-radius: 15px;
  border: 2px solid #df4e3c;
  background: #df4e3c;
  cursor: pointer;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover {
  color: #df4e3c;
  background-color: rgba(0, 0, 0, 0);
}
.sort-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}
.sort-by {
  display: flex;
  align-items: center;
}
.sort-by-title {
  margin-right: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}
.sort-by-label {
  margin-right: 8px;
  width: 13px;
  height: 13px;
}
.icon-sort {
  width: 13px;
  height: 13px;
}
.label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d8d8d;
}
.card-section {
  padding-bottom: 120px;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.card-item {
  flex-basis: calc((100% - 80px) / 4);
  margin: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
}
.card-thumb {
  position: relative;
  padding-bottom: 35px;
}
.card-thumb:hover {
  opacity: 0.9;
}
.card-pic {
  margin-bottom: 20px;
}
.card-top {
  display: flex;
  padding-left: 20px;
  margin-bottom: 13px;
}
.card-date {
  margin-right: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.47;
  color: #8d8d8d;
}
.card-title {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  color: #000000;
}
.card-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.card-info {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 26px;
  height: 18px;
}
.info-item:not(:last-child) {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #8d8d8d;
}
.info-detail {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.36;
  color: #8d8d8d;
}
.card-price {
  padding-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
  color: #000000;
}
.sold-thumb {
  position: relative;
  padding-bottom: 35px;
}
.info-item-sold:not(:last-child) {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #bdbdbd;
}
.sold-text {
  position: absolute;
  top: 63px;
  left: 82px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  color: #ffffff;
}
.card-date-sold {
  margin-right: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.47;
  color: #bdbdbd;
}
.card-title-sold {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.35;
  color: #8d8d8d;
}
.info-detail-sold {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.36;
  color: #bdbdbd;
}
.card-price-sold {
  padding-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
  color: #8d8d8d;
}
.sticker {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 67px;
  height: 24px;
  left: 0px;
  top: 176px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #000000;
}
.sticker-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
}
.subscription {
  padding-top: 40px;
  padding-bottom: 46px;
  background-color: #000000;
}
.subscription-container {
  display: flex;
  align-items: center;
}
.subscription-paragraph {
  margin-right: 95px;
}
.subscription-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.36;
  color: #f8f8f8;
}
.subscription-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #f8f8f8;
}
.subscription-form {
  white-space: nowrap;
}
.subscription-input {
  margin-right: 20px;
  padding: 15px 22px 19px 16px;
  width: 505px;
  height: 54px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #f8f8f8;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #000000;
}
.subscription-input::placeholder {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #f8f8f8;
}
.subscription-btn {
  padding: 14px 41px 16px 42px;
  min-width: 190px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #000000;
  border: 2px solid #f8f8f8;
  border-radius: 15px;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-btn:hover {
  color: #ffffff;
  background-color: #000000;
}
.questions {
  padding-top: 120px;
  padding-bottom: 200px;
}
.questions-list {
  margin: 0 auto;
  width: 820px;
}
.questions-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 35px 26px 25px;
}
.questions-item:not(:nth-child(2)) {
  border-bottom: 1px solid #c4c4c4;
}
.questions-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.33;
  color: #000000;
}
.questions-btn {
  width: 11px;
  height: 11px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.questions-icon {
  width: 11px;
  height: 11px;
}
.detailed-questions {
  padding: 24px 39px;
  width: 820px;
  height: 268px;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
}
.detailed-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.detailed-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.33;
  color: #df4e3c;
}
.detailed-btn {
  width: 11px;
  height: 11px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.detailed-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #000000;
}
.detailed-text:not(:last-child) {
  margin-bottom: 8px;
}
footer {
  background-color: #000000;
}
.bottom {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 37px;
}
.logo-footer {
  margin-right: 303px;
}
.navigation-footer {
  margin-right: 406px;
}
/*# sourceMappingURL=index.971c2ea4.css.map */
